html {
    background-color: #ffffe8   ;
}

.main {
    background-color: #ffffe8   ;
    margin: 35px 450px 55px 450px;
    font-family: 'Roboto', sans-serif;
   font-size: large;
}

h2 {
    text-align: center;
}

p {
    line-height: 1.8em;
}


@media screen and (max-width: 640px) {
    .main {
        margin: 25px 50px;
    }
  }