@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

main {
    background-color: #ffffe8;
    font-size: large;
    margin: 35px 450px 55px 450px;
}

.paragraph {
    line-height: 1.8em;
}

.title {
    text-align: center;
}


@media screen and (max-width: 640px) {
    .main {
        margin: 25px 50px;
    }
  }