html {
    background-color: #ffffe8   ;
}

.main {
    background-color: #ffffe8   ;
    margin: 35px 450px 55px 450px;
    font-family: 'Roboto', sans-serif;
   font-size: large;
   line-height: 1.8em;
}

.title {
    text-align: center;
}

p {
    
}


@media screen and (max-width: 640px) {
    .main {
        margin: 25px 50px;
    }
  }