@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    background-color: #ffffe8;
}

.main {
    
    font-size: large;
    margin: 35px 450px 55px 450px;
}

.paragraph {
    line-height: 1.8em;
}

.title {
    text-align: center;
    font-size: 1.3em;
    font-weight: bolder;
}


@media screen and (max-width: 640px) {
    .main {
        margin: 25px 50px;
    }
  }